#map{
    width: 400px;
    height: 500px;
}

@media (max-width: 700px) {
    *{
        padding: 0;
        border: none;
        margin: 0;
    }
    
    html{
        width: 100%;
        height: 100%;
    }
    
    .login-bg {
        background-color: #8C2E86;
    }
    
    .form-content-login{
        background-color: white;
        border-radius: 10px;
        margin: 5%;
        height: 530px;
    }
    
    }