@media (max-width: 700px) {
*{
    padding: 0;
    border: none;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*LOGIN*/
.login-page{
    width: 100%;
    height: 100%;
}

.login-bg {
    background-color: #8C2E86;
}

.login-logo{
    margin: 7% 5% 3% 5%;
    width: 120px;
    height: 165px;
}

.logo-container{
    display: flex;
    justify-content: center;
}

.form-content-login{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5%;
    height: 530px;
}

.email{
    color: #591E3A;
    font-weight: bold;
    margin: 3% 5% 2% 5%;
}

.email-input{
    border-bottom: 2px solid #b6b6b6;
    width: 90%;
    margin: 0% 0% 3% 5%;
}

.password{
    color: #591E3A;
    font-weight: bold;
    margin: 3% 5% 2% 5%;
}

.password-input{
    border-bottom: 2px solid #b6b6b6;
    width: 90%;
    margin: 0% 0% 3% 5%;
}

.btn-login{
    display: flex;
    justify-content: center;
    background-color: #F28705;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    width: 80%;
    height: 32px;
    margin: 10%
}

.btn-google{
    margin: 5% 5% 10% 5%;
    background: transparent;
}

.register-call{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
}

.register-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    text-decoration: none;
    background-color: #F28705;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    width: 100;
    height: 20px;
    padding: 5px;
}

/*REGISTER*/
.signup-bg{
    background-color: #8C2E86;
}

.form-content-signup{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5%;
    height: 530px;
}

.register-logo{
    width: 60px;
    height: 75px;
    margin: 7% 5% 3% 5%;
}

.register-text{
    font-size: 130%;
    font-weight: bold;
    margin: 5% 3% 5% 5%;
}

.name{
    color: #591E3A;
    font-weight: bold;
    margin: 3% 5% 2% 5%;
}

.name-input{
    border-bottom: 2px solid #b6b6b6;
    width: 90%;
    margin: 0% 5% 3% 5%;
}

.address{
    color: #591E3A;
    font-weight: bold;
    margin: 3% 5% 2% 5%;
}

.address-input{
    border-bottom: 2px solid #b6b6b6;
    width: 90%;
    margin: 0% 5% 3% 5%;
}

.register-btns-container{
    display: flex;
    justify-content: center;
    margin: 3%;
}

.btn-register{
    background-color: #F28705;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    width: 140px;
    height: 32px;
    margin: auto;
    margin-top: 2vw;
}

.btn-back{
    background-color: #F28705;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    width: 140px;
    height: 32px;
    margin: auto;
}

#errorMessageSignup{
    font-size: 80%;
    color: red;
}


/*MAIN*/

.home-bg{
    display: flex;
    background-color: #fff;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #C4C4C4;
    padding: 7px;
}

#map{
    display: flex;
    border: solid 1px #b6b6b6;
    width: 100vw;
    height: 70vw;
    margin-top: 2vw;
}

.search-box{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.search{
    width: 60vw;
    height: 7vw;
    border: solid 1px #8C2E86;
    border-radius: 2vw;
    padding: 5px;
}

.search-btn{
    height: 10vw;
    padding: 2vw;
}

.book-card{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 60vw;
    margin: 5vw;
    border-bottom: solid 1px #C4C4C4;
    box-shadow: 2px 2px 3px #b6b6b6a1;
}

.book-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3vw;
    width: 100%;
    text-align: center;
}

.book-list{
    width: 37vw;
    margin: 2vw;
}

.signout-icon{
    color: #303030;
    font-size: 25px;
}

.signout-text{
    color: #303030;
    font-size: 10px;
    font-weight: bold;
}

.header-img{
    height: 7vw;
    margin-top: 1.5vw;
}

.book-title{
    width: 37vw;
    height: 22vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-title{
    display: flex;
    color: #591E3A;
    margin-left: 7vw;
    font-weight: bold;
}

.user-name{
    display: flex;
    justify-content: center;
    padding: 2vw;
    font-size: 5vw;
    color: #591E3A;
    font-weight: bold;
}

.title-map{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 2vw;
    color: #591E3A;
    font-weight: bold;
}

}

